/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100% !important; height: auto;}
/*end reset*/
/* to ensure content stays within specified size for larger screens*/
.wrap{
	 transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/* header section */
.header{
	background:url(../images/header-bg.png);
	background-repeat: repeat;
}
.header_top{
	
}
.menu{
	 float:left;
	 margin:50px 0px 0px 50px ;
}
.box{
	position:absolute;
	top:-700px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
}
.box_content_center{
	background:rgba(223, 90, 73, 0.90);
}
.boxclose{
	cursor:pointer;
	text-align:center;
    display:block; 
    position: absolute;
	top:5em;
	right:15em;  
}
.menu_box_list{
	display:inline-block;
	padding-top:200px;
	padding-bottom: 225px;
}
.menu_box_list li a{
	display:block;
	color:#FFF;
	font-size: 20px;
	margin:10px 0px;
	font-weight:400;
	line-height: 32px;
	text-align:left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
	color:#B63D44;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.header_desc{
	padding-top: 100px;
}
.iphone_img{
	margin-left: 110px; 
	float: left;
	margin-right: 20px;
	background:url(../images/header-bg.png);
}
.iphone_img img{
	margin-bottom: -5px;
}
.text_logo p{
 	font-size:30px;
 	color:#FFF;
 	padding: 30px 0 16px 20px;
 	font-weight: 300;
}
.text_logo img{
	display: inline-block;
}
.text_logo{
	margin-right: 50px;
	text-align: right;
}
.button a{
 	display:inline-block;
 	font-size:16px;
 	font-weight: 400;
 	text-transform: uppercase;
 	color:#FFF;
 	border:2px solid #FFF;
 	padding:15px 30px;
 	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
 }
.button a:hover{
  color:#5C5C5C;
  border:2px solid #5C5C5C;
}
 .button a > i > img{
 	margin-bottom:-4px;
 	padding-left:5px;
}
/* plan moments section */
.plan_moments{

}
.plan_moments_desc{
	float:left;
	/*width:30%;*/
	margin-left:50px;
	padding-top: 260px;
}
.plan_moments_desc h2{
	font-size:32px;
	color:#545454;
	font-weight:700;
}
.plan_moments_desc p{
	font-size:16px;
	font-weight: 400;
	color:#7e7e7e;
	line-height:1.8em;
	padding: 2em 0;
}
.plan_moments_img{
   float:right;	
   padding-top:140px;
   margin-right: 50px;
   padding-left: 80px;
   padding-bottom: 150px;
}
.plan_moments_img img{
	display: block;
}
/* decide plan section */
.decide_section{
	background-color: #eaeaea;
	padding-bottom: 650px;
}
.decide_section_img{
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 140px;
	float: left;
}
.decide_section_desc{
	width: 37%;
	margin-right:50px;
	padding-top: 260px;
	float: right;
}
.decide_section_desc h2{
	font-size:32px;
	font-weight: 700;
	color:#545454;
	padding-bottom:.5em;
	text-align: right;
}
.decide_section_desc p{
	color:#7e7e7e;
	font-weight: 400;
	font-size: 16px;
	line-height:1.8em;
	padding:.6em 0;
	text-align: right;
}
/* contact us section */
.contact_us{
	background:url(../images/background_bottom.png);
	text-align:center;
	padding:100px 50px 100px 50px;
}
.contact_us h2{
	font-size:32px;
	color:#FFF;
	font-weight:700;
}
.force_msg{
	padding-top: 140px;
	color:#FFF;
	font-weight: 400;
	font-size: 16px;
}
.email_signup{
	display:inline-block;
    padding-top: 30px;
}
.email_signup_form{
	float:left;
	background:#FFF;
	position: relative;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	margin:0px auto;
	padding:8px 0;
	width:300px;
	font-weight: 400;
}
.input{
	font-weight: 400;
}
.email_signup_form form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.8em;
	color:#D3D3D3;
	width:80%;
	padding:6px 0;
    -webkit-appearance:none;
    border-right: 1px solid #EEE;
	font-weight: 400;
	margin:0;
}
.email_signup_form form input[type="text"]:focus{
	color:#676767;
	font-weight: 400;
}
#submit{
	background: url(../images/mail_actionbutton.png) no-repeat;
	margin-top:5px;
	float: right;
	width:24px;
	margin-right:10px;
	border: none;
	outline:none;
	cursor: pointer;
}
.social_icons 
	li{
	display:inline-block;
	margin:0 15px;
	width:64px;
	height:64px;
}
.social_icons p{
	color:#FFF;
	font-weight: 300;
	font-size: 16px;
	padding-bottom: 30px;
	padding-top: 65px;
	}
.social_icons li a{
	width:64px;
	height:64px;
	display:block;
	}

/* Copyright */
.copyright{
	text-align:center;
	padding: 20px 0;
	background:#FFF;
	position:relative;
}
.copyright p{
	color:#696969;
	font-size: 10px;
	line-height:1em;
}
.copyright p a{
	color:#6ec5ea;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copyright p a:hover{
	text-decoration:underline;
}
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:25px;
	right:25px;
	overflow: hidden;
	border: none;
	text-indent: 100%;
	background:#ECECEC url(../images/move-top.png) no-repeat center;
	padding: 20px;
}
#toTop:hover{
	outline: none;
	background:#D5D5D5 url(../images/move-top.png) no-repeat center;
}

/***** Scrolling Effect ********/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cbp-so-scroller {
	overflow: hidden;
}
/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}
.cbp-so-section:after {
	clear: both;
}
/* Sides */
.cbp-so-side {
	display:inline-block;
	margin: 0;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}
.cbp-so-side:after {
	clear: both;
}
/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}
.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}
.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
/**************** Media Quries ************************/
@media only screen and (min-width: 1366px){
	.wrap{
		max-width: 1400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.text_logo{
		padding-left: 50px;
		padding-bottom: 35PX;
	}
	.decide_section_desc{
		width: 45%;
	}
	.button{
	margin-top: 180px;
	}
	.plan_moments_desc{
 		width: 47%;
 	}
}

@media only screen and (max-width: 1366px){
	.wrap{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.text_logo{
		padding-bottom: 36px;
		padding-left: 50px;
	}
	.button{
	margin-top: 180px;
	}
	.plan_moments_desc{
 		width: 47%;
 	}
}
@media only screen and (max-width: 1280px){
	.wrap{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.plan_moments_desc{
 		width: 35%;
 	}
	.plan_moments_img{
 		width: 50%;
 	}
 	.decide_section_img{
 		width: 45%;
 	}
 	.text_logo{
		padding-bottom: 36px;
		padding-left: 50px;
	}
	.button{
	margin-top: 180px;
	}
}
 @media all and (max-width: 977px){
 	.wrap{
 		width: 100%;
 		margin-right: auto;
 		margin-left: auto;
 	}
 	.plan_moments_desc{
 		width: 35%;
 		padding-top: 220px;
 	}
 	.plan_moments_img{
 		width: 50%;
 	}
 	.decide_section_img{
 		width: 40%;
 	}
 	.decide_section_desc{
 		padding-top: 200px;
 	}
 	.text_logo{
		padding-bottom: 15px;
		padding-left: 50px;

	}
	.button{
	margin-top: 160px;
	}
 }
/* Special media query to handle the iphone image */
 @media all and (max-width:860px){
.iphone_img{
	position: absolute; top:-3000px;
}
.header_desc{
	padding-top: 50px;
}
.text_logo{
	text-align: center;
}
.button{
	margin-top: 75px;
}
}
 @media all and (max-width:800px){
 	.plan_moments_desc{
 		width: 100%;
 		padding-top: 50px;
 		text-align: center;
 		margin-left: auto;
 		margin-right: auto;
 	}
 	.plan_moments_img{
 		width: 100%;
 		padding-top: 20px;
 		text-align: center;
 		padding-bottom: 20px;
 	}
 	.decide_section_img{
 		width: 100%;
 		padding-top: 20px;
 		text-align: center;
 		margin-left: 50px;
 		padding-right: 50px;
 	}
 	.decide_section_desc{
 		width: 90%;
 		padding-top: 20px;
 		text-align: center;
 		margin-left: 20px;
 		margin-right: 20px;
 	}
 	.decide_section_desc p{
 		text-align: center;
 	}
 	.decide_section_desc h2{
 		text-align: center;
 	}
 	.text_logo p{
		font-size: 23px;
	}
	.button a{
		font-size: 12px;
	}
	.plan_moments_desc h2{
		font-size: 24px;
	}
	.plan_moments_desc p{
		font-size: 12px;
	}
	.decide_section_desc h2{
		font-size: 24px;
	}
	.decide_section_desc p{
		font-size: 12px;
	}
	.contact_us h2{
		font-size: 24px;
	}
	.force_msg{
		font-size: 12px;
	}
	.social_icons p{
		font-size: 12px;
	}
}
 @media all and (max-width:568px){
	.plan_moments_desc{
 		width: 100%;
 		padding-top: 50px;
 		text-align: center;
 		margin-left: auto;
 		margin-right: auto;
 	}
 	.plan_moments_img{
 		width: 100%;
 		padding-top: 20px;
 		text-align: center;
 	}
 	.decide_section_img{
 		width: 100%;
 		padding-top: 20px;
 		text-align: center;
 		margin-left: 20px;
 		margin-right: 20px; 	
 	}
 	.decide_section_desc{
 		width: 90%;
 		padding-top: 20px;
 		text-align: center;
 		margin-left: 20px;
 		margin-right: 20px;
 	}
 	.decide_section_desc p{
 		text-align: center;
 	}
 	.text_logo p{
		font-size: 23px;
	}
	.button a{
		font-size: 12px;
	}
	.plan_moments_desc h2{
		font-size: 24px;
	}
	.plan_moments_desc p{
		font-size: 12px;
	}
	.decide_section_desc h2{
		font-size: 24px;
	}
	.decide_section_desc p{
		font-size: 12px;
	}
	.contact_us h2{
		font-size: 24px;
	}
	.force_msg{
		font-size: 12px;
	}
	.social_icons p{
		font-size: 12px;
	}
}
 @media all and (max-width:480px){
	.button a{
		font-size: 14px;
	}
	.text_logo p{
		font-size: 23px;
	}
	.button a{
		font-size: 12px;
	}
	.plan_moments_desc h2{
		font-size: 24px;
	}
	.plan_moments_desc p{
		font-size: 12px;
	}
	.decide_section_desc h2{
		font-size: 24px;
	}
	.decide_section_desc p{
		font-size: 12px;
	}
	.contact_us h2{
		font-size: 24px;
	}
	.force_msg{
		font-size: 12px;
	}
	.email_signup_form{
		width: 200px;
	}
	.social_icons p{
		font-size: 12px;
	}
#submit{
	width: 15px;
}

.social_icons 
	li{
	display:inline-block;
	margin:0 10px;
	width:45px;
	height:45px;
}
.social_icons p{
	text-align: center;
}
}
@media all and (max-width:320px){
.text_logo p{
	font-size: 23px;
}
.button a{
	font-size: 12px;
}
.plan_moments_img{
	padding-bottom: 50px;
}
.plan_moments_desc h2{
	font-size: 24px;
}
.plan_moments_desc p{
	font-size: 12px;
}
.decide_section{
	padding-bottom: 550px;
}
.decide_section_desc h2{
	font-size: 24px;
}
.decide_section_desc p{
	font-size: 12px;
}
.contact_us h2{
	font-size: 24px;
}
.force_msg{
	font-size: 12px;
}
}